.layOut {
  margin: 0px auto 0px auto;
  width: 1200px;
  height: 100vh;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.todoTitle {
  width: 1000px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  font-size: 36px;
  font-style: initial;
}
.inputs {
  width: 1000px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: left;
  align-items: center;
  display: flex;
  background-color: gray;
}

.input-title {
  margin-left: 20px;
  margin-right: 20px;
  background-color: transparent;
}

.input-text {
  margin-left: 20px;
  margin-right: 20px;
  background-color: transparent;
}
.button-add {
  width: 80px;
  margin-left: 300px;
  border-radius: 5px;
  border-color: black;
  border-bottom-width: 3px;
}
.text-box {
  height: 20px;
  width: 200px;
  margin-left: 5px;
  border-radius: 5px;
  border-color: transparent;
  border-color: black;
  border-bottom-width: 3px;
}

.working {
  background-color: transparent;
  display: flex;
  width: 1000px;
  height: 300px;
  margin-top: 20px;
}
.done {
  background-color: transparent;
  margin-top: 20px;
  width: 1000px;
  height: 300px;
  display: flex;
}

.todo-box {
  margin-left: 10px;
  width: 280px;
  height: 280px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
}
.todolist-title {
  margin: 20px 20px 0px 20px;
  width: 250px;
  height: 80px;
  font-size: 20px;
}

.todolist-text {
  margin: 10px 20px 0px 25px;
  width: 250px;
  height: 80px;
  font-size: 15px;
}

.buttons-todolist {
  margin-top: 30px;
  width: 280px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-delete-todolist {
  margin-right: 80px;
  width: 80px;
  height: 30px;
}
.button-done-todolist {
  width: 80px;
  height: 30px;
}
